.form{
    background-color: white;
    padding: 15px;
    border-radius: 0 0 10px 10px ;
    .textField{
        padding: 5px;
        border-bottom: 1px solid gray;
        outline: none;
    }
    .submit{
        margin-top: 15px;
    }
}
