.comment{
    padding: 5px;
    font-size: 15px;
    .actuall-comment{
        display: flex;
        .infoside{
            display: block;
            padding: 10px;
            word-break: break-all;
            header{
                display: inline-block;
                div{
                    float: left;
                    margin: 5px;
                    vertical-align: middle;
                    height: 20px;
                    line-height: 20px;
                }
                .name{
                    font-size: 17px;
                    font-weight: bold;
                }
                .date{
                    color: gray;
                    font-size: 14px;
                }
            }
        }
        .imgside{
            padding: 10px;
            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }
    }
}
