.comment-box{
    background-color: #f8fafc;
    box-shadow: 0 0 10px 2px lightgrey;
    border-radius: 10px;
    min-width: 400px;
    width: 80%;
    height: 700px;
    p{
        padding: 50px;
        text-align: center;
    }
}
