.comment-box{
    background-color: #f8fafc;
    box-shadow: 0 0 10px 2px lightgrey;
    border-radius: 10px;
    min-width: 400px;
    width: 100%;
    .comment-list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    p{
        padding: 50px;
        text-align: center;
    }
    .earlear-comments{
        padding: 20px;
        &:hover{
            cursor: pointer;
        }
    }
}
